* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.home {
    .hero {
        display: block;
        position: relative;
        z-index: -6;
        width: 100%;
        
    }
}

.imgWrapper {
    height: 70vh;
    overflow: hidden;
    margin-top: -5rem;
}

.textWrapper {
    width: 80%;
    margin: auto;
}

.gallery {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 1rem;
    margin-top: -4rem;
}