* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.compWrapper {
  width: 80%;
  margin: 5rem auto;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  h2 {
    font-size: 5vw;
    text-align: left;
  }

  .rangeslider {
    width: 20%;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

@media only screen and (max-width: 500px) {
  .top {
    display: block;

    div {
      margin-top: 1rem;
    }
    .rangeslider {
      width: 90% !important;
    }
  }
}
